body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #f10e0e;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Cambiamos la fuente del título */
}

h2 {
    color: hsl(0, 80%, 50%);
}

main {
    padding: 20px;
}

section {
    background: #ffffff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="text"], input[type="email"] {
    width: 99%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #e31c1ce4;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: hsl(0, 50%, 51%);
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}